@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", Sans sans-serif;
}

:root {
  /* clasicos */
  --fondo: #fff;
  --opuFondo: #0a192f;
  /* botones */
  --primario: hsl(207, 68%, 50%);
  --secundario: #f9b5ac;
  --destacado: #f6efa6;
  /* texto */
  --textoPrin: black;
  --textoSecun: black;
  --parrafos: black;
  /* misc */
  scroll-behavior: smooth;
  --ola: url(pics/oladay.png);
  

  scroll-padding-top: 2.5rem;
  --trans: 0.6s;
}

html {
  font-size: 16px;
  cursor: url("material/avion32x32.png"), auto;
}

body {
  min-height: 200vh;
  background: var(--fondo);
}

body.oscuro {
  /* clasicos */
  --fondo: #0a192f;
  --opuFondo: rgb(203, 213, 246);
  /* botones */
  --primario: rgb(245, 142, 142);
  --secundario: hsl(226, 70%, 88%);
  --destacado: rgb(203, 253, 218);
  /* texto */
  --textoPrin: hsl(226, 70%, 88%);
  --textoSecun: #8892b0;
  --parrafos: #a8b2d1;
  --ola: url("pics/olanight.png");
}

#header {
  display: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 100px 10px 100px;
  transition: var(--trans);
  z-index: 9;
  background: var(--fondo);
  border-bottom: 1px solid var(--opuFondo);
}

header > .logo {
  /* position: relative; */
  font-weight: 700;
  color: var(--parrafos);
  text-decoration: none;
  font-size: 2rem;
  letter-spacing: 2px;
  transition: var(--trans);
  z-index: 9;
}

header > ul {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
}

header > ul > li {
  list-style: none;
  /* position: relative; */
}

header > ul > li > a {
  /* position: relative; */
  text-decoration: none;
  color: var(--parrafos);
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 20px;
  transition: var(--trans);
}

header.sticky {
  padding: 10px 100px;
  background: var(--fondo);
}

header.display {
  display: none;
}
/* 
header.sticky * {
  color: var(--primario);
} */
h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: 300;
  margin: 3rem 0;
}

h3 {
  font-size: 1.25rem;
  text-align: center;
}

.hero {
  position: relative;
  /* height: 100vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: url(pics/lasfiPlaya.JPEG);
  background-size: cover;
  background-position: center; */
  color: var(--opuFondo);
}
/* .hero::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.26);
} */

button {
  cursor: pointer;
  margin: 5px 10px;
  font-size: 1.5rem;
  outline: none;
  width: 15rem;
  height: 3rem;
  transition: ease-out 0.3s;
}

img {
  width: 100%;
  height: auto;
}

.herosup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foto {
  width: 50%;
}

.btn-prime {
  background: var(--destacado);
  border: none;
  box-shadow: inset 0 0 0 0 var(--primario);
}

.btn-prime:hover {
  box-shadow: inset 300px 0 0 0 var(--primario);
}

.btn-hueco {
  background: none;
  border: 1px solid var(--opuFondo);
  color: var(--opuFondo);
}

.curve {
  background-color: var(--secundario);
  text-align: center;
}

.curve p {
  margin: 0px 5rem;
}

.curve svg {
  display: block;
}

/* .curve.upper {
  background: var(--fondo);
  
} */

p#acerca {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15rem;
}

@media screen and (max-width: 900px) {
  p#acerca {
    padding: 0px 2rem;
    color: white;
  }
  .arriba {
    flex-direction: column-reverse;
  }
  .herosup {
    flex-direction: column-reverse;
  }

  .hero {
    height: auto;
  }

  h1 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 300;
    margin: 1.5rem 0;
  }

  h3 {
    font-size: 1rem;
    text-align: center;
  }

  button {
    cursor: pointer;
    margin: 3px 5px;
    font-size: 1rem;
    width: 10srem;
    height: 2rem;
  }
}

.motas {
  /* z-index: -1; */
  background-color: var(--fondo);

  background-image: radial-gradient(
      hsla(238, 13%, 53%, 0.87) 1.5px,
      transparent 1.5px
    ),
    radial-gradient(hsla(238, 13%, 53%, 0.87) 1.5px, var(--fondo) 1.5px);
  background-size: 100px 100px;
  background-position: 0 0, 40px 40px;
}

.img-hero {
  margin-top: 5rem;
  animation: cereal linear 3s infinite;
}

@keyframes cereal {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5%);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}
@media screen and (max-width: 768px) {
  header {
    padding: 10px 7px 5px 7px;
    justify-content: space-around;
  }

  .foto {
    display: flex;
    justify-content: center;
  }

  header > .logo {
    /* position: relative; */

    font-size: 1.5rem;
    letter-spacing: 1.5px;
  }
  li:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  li:nth-child(4) {
    display: none;
  }
  .botones-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.ver-cv {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  list-style: none;
}
/* .ver-cv a {
  text-decoration: none;
  color: var(--textoPrin);
  border: 2px solid var(--opuFondo);
  padding: 7px 25px;
  margin: 25px 10px;
  display: inline-block;
} */

#acerca {
  font-size: 1.5rem;
}
.btn-prime-jr {
  background: var(--primario);
  border: none;
  box-shadow: inset 0 0 0 0 var(--opuFondo);
}

.btn-prime-jr:hover {
  box-shadow: inset 300px 0 0 0 var(--destacado);
}

.btn-hueco-jr {
  background: none;
  border: 1px solid var(--fondo);
  color: var(--fondo);
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 143px;
  width: 100%;
  background-image: var(--ola);

  animation: ola linear 10s infinite;
}

@keyframes ola {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1360px;
  }
}

.wave::before {
  content: "";
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 143px;
  width: 100%;
  background-image: var(--ola);

  animation: ola-jr linear 10s infinite;
}

@keyframes ola-jr {
  0% {
    background-position-x: 1360px;
  }
  100% {
    background-position-x: 0;
  }
}

.wave::after {
  content: "";
  opacity: 0.25;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 143px;
  width: 100%;
  background-image: var(--ola);

  animation: ola linear 20s infinite;
}

.arriba {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.acerca {
  display: flex;
  flex-direction: column;
}
