@font-face {
  font-family: "atkinson";
  src: url(./fonts/atkinson/WOFF/Atkinson-Hyperlegible-Regular-102.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "atkinson";
  src: url(./fonts/atkinson/WOFF/Atkinson-Hyperlegible-Bold-102.woff);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "atkinson";
  src: url(./fonts/atkinson/WOFF/Atkinson-Hyperlegible-Italic-102.woff);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "atkinson";
  src: url(./fonts/atkinson/WOFF/Atkinson-Hyperlegible-BoldItalic-102.woff);
  font-weight: bold;
  font-style: italic;
}

html {
  box-sizing: border-box;
  font-family: "atkinson", sans-serif;
  font-size: 16px;
  cursor: url("material/avion32x32.png"), auto;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --primario: #2988d6;
  --hermano: #85b2d7;
  --acento: #f55357;

  --fondo: #fff;
  --textostr: #000;
  --textosft: #151a1e;

  /* misc */
  --ola: url(pics/oladay.png);
  /* --ola-color: # */
  --ola-color: var(--hermano);
  --trans: 1s;

  scroll-padding-top: 2.5rem;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--fondo);
  min-height: 200vh;
}

body.oscuro {
  --primario: #f55357;
  --hermano: hsl(359, 49%, 49%);
  --acento: #0c73b8;

  --fondo: #0c131a;
  --textostr: #cbd5f6;
  --textosft: #a8b2d1;

  --ola: url("pics/olanight.png");
  --ola-color: #cbd5f6;
}

img {
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  margin: 5px 10px;
  font-size: 1.5rem;
  outline: none;
  width: 15rem;
  height: 3rem;
  transition: ease-out 0.3s;
}

/* Tipografía  */

h1,
h2,
h3,
h3,
p {
  margin: 0;
}

h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: 300;
  margin: 3rem 0;
}

h2,
h3 {
  font-size: 1.75rem;
  text-align: center;
}

p {
  margin-bottom: 1.25rem;
}

/* Header */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 50px;
  transition: var(--trans);
  z-index: 9;
  background: var(--fondo);
  border-bottom: 1px solid var(--textostr);
}

header > .logo {
  font-weight: bold;
  color: var(--textostr);
  text-decoration: none;
  font-size: 2rem;
  letter-spacing: 2px;
}

* > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

header > ul > li {
  margin: 0px 20px;
}

header > ul > li > a {
  text-decoration: none;
  color: var(--textosft);
  letter-spacing: 1px;
}

header.invisible {
  visibility: hidden;
}

/* HEROU*/

.hero-wrapper {
  /* background-color: var(--fondo); */
  position: relative;
  height: 100vh;
}

.fondo-pts {
  background-image: radial-gradient(
      hsla(238, 13%, 53%, 0.87) 1.5px,
      transparent 1.5px
    ),
    radial-gradient(hsla(238, 13%, 53%, 0.87) 1.5px, var(--fondo) 1.5px);
  background-size: 100px 100px;
  background-position: 0 0, 40px 40px;
}

.hero-up {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.hero-copy {
  /* flex: 2 1.5 auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 66%;
  color: var(--textosft);
}

.saludo {
  color: var(--primario);
  font-weight: 300;
}

.hero-foto {
  /* flex: 1 1 auto; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
}

.hero-foto img {
  animation: cereal linear 3s infinite;
}

.fa-chevron-circle-down {
  color: var(--primario);
  font-size: 3.25rem;
  animation: icono linear 3s infinite;
}

.fa-chevron-circle-down:hover {
  color: var(--acento);
  animation: none;
}

.hero-olas {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 143px;
  width: 100%;
  background-image: var(--ola);

  animation: ola linear 10s infinite;
}

.hero-olas::before {
  content: "";
  opacity: 0.66;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 143px;
  width: 100%;
  background-image: var(--ola);

  animation: ola-jr linear 10s infinite;
}

.hero-olas::after {
  content: "";
  opacity: 0.33;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 143px;
  width: 100%;
  background-image: var(--ola);

  animation: ola linear 20s infinite;
}

/* Acerca */

.acerca {
  background: var(--ola-color);
  height: 55vh;
}

.acerca p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 75ch;
  font-size: 1.25rem;
  padding-top: 10rem;
}
.ver-cv {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 3rem 0 3rem 0; */
}

/* .ola-abajo {
  margin-top: 0px;
  padding-top: 0;
} */

.btn-bg {
  cursor: pointer;
  margin: 5px 10px;
  font-size: 1.5rem;
  outline: none;
  width: 15rem;
  height: 3rem;
  transition: ease-out 0.3s;
}

.btn-prime {
  background: var(--acento);
  border: 1px solid var(--textostr);
  color: var(--textostr);
}

.btn-hueco {
  background: none;
  border: 1px solid var(--textostr);
  color: var(--textostr);
}

/* PROYECTOS CAR */
.proyectos-wrapper {
  height: 100vh;
}

.proyectos-wrapper > h2 {
  margin: 10px 5px;
  font-size: 6.25rem;
  font-weight: bold;
  background-image: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  background-size: 400% 400%;
  animation: fondo 5s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.swiper-container {
  width: 80vw;
  height: 75vh;
  margin-left: auto;
  margin-right: auto;
  cursor: grab;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: white;

  border: 1px solid black;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  height: 50%;
  width: auto;
}

.swiper-slide p {
  max-width: 70ch;
}
.btn-slide {
  display: flex;
}

.btn-sm {
  cursor: pointer;
  margin: 5px 7px;
  font-size: 1.25rem;
  outline: none;
  width: 12rem;
  height: 3rem;
  transition: ease-out 0.3s;
}

/* CONTACTO */

.background {
  display: flex;
  min-height: 100vh;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: var(--fondo);
  border-radius: 15px;
}

.screen:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: var(--textosft);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: var(--textostr);
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--textostr);
  font-size: 26px;
}

.app-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: var(--hermano);
}

.app-contact {
  margin-top: auto;
  font-size: 1rem;
  color: var(--textosft);
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid var(--hermano);
  color: var(--textosft);
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: var(--acento);
}

.app-form-button {
  background: var(--hermano);
  border: none;
  border-radius: 3px;
  color: var(--textosft);
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: white;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

/* Animaciones  */

@keyframes icono {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(15%);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes cereal {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(3%);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes ola {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1360px;
  }
}

@keyframes ola-jr {
  0% {
    background-position-x: 1360px;
  }
  100% {
    background-position-x: 0;
  }
}

@keyframes fondo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* mediaqueriessss */

@media screen and (max-width: 1024px) {
  .hero-up {
    flex-direction: column-reverse;
  }
  .hero-foto {
    margin-top: 2rem;
  }
  html {
    font-size: 14px;
  }
  .proyectos {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  li:nth-child(3) {
    display: none;
  }
  header {
    padding: 10px 15px;
  }

  header > .logo {
    font-size: 1.75rem;
    letter-spacing: 1.75px;
  }
}

@media screen and (max-width: 568px) {
  html {
    font-size: 12px;
  }
  li:nth-child(4) {
    display: none;
  }
  header {
    padding: 7px 5px;
  }

  header > .logo {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
  }
}

/* 
Contacto */
@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}
