/* Animaciones */

@keyframes icono {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(15%);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes cereal {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(3%);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes ola {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1360px;
  }
}

@keyframes ola-jr {
  0% {
    background-position-x: 1360px;
  }
  100% {
    background-position-x: 0;
  }
}

@keyframes fondo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* mediaqueriessss */
@media screen and (min-width: 1350px) {
  .swiper-button-next {
    margin-right: 150px;
  }
  .swiper-button-prev {
    margin-left: 150px;
  }
}

@media screen and (max-width: 1024px) {
  .hero-up {
    flex-direction: column-reverse;
  }
  .hero-foto {
    margin-top: 2rem;
  }
  html {
    font-size: 14px;
  }
  .proyectos {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  li:nth-child(3) {
    display: none;
  }
  header {
    padding: 0px 15px;
  }

  header > .logo {
    font-size: 1.75rem;
    letter-spacing: 1.75px;
  }

  .screen-body-proyectos {
    flex-direction: column;
  }

  .swiper-container {
    height: auto;
  }
  .hero-copy {
    width: 80%;
  }

  .hero-foto {
    width: 75%;
  }

  .cuerpo-pantalla {
    flex-direction: column;
  }

  .columna-carta-der {
    padding: 10px 35px;
    margin: 10px 0;
  }

  .columna-carta-izq {
    padding: 5px 15px;
  }

  .columna-carta-izq img {
    width: 50%;
  }

  /* 
  CAMBIAR IMAGEN */
  /* .hero-olas {
   
    height: 143px;
    width: 100%;
   
  } */
}

@media screen and (max-width: 568px) {
  html {
    font-size: 12px;
  }
  li:nth-child(4) {
    display: none;
  }
  header {
    padding: 0px 5px;
  }

  header > .logo {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
  }

  .columna-carta-izq img {
    width: 75%;
  }
}

/* 
Contacto */
@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
